<nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-logo" href="/">Tweeter</a>
      <a class="navbar-logout" href="/">Logout</a>
      <div class="navbar-links">
        <a class="navbar-link" href="/dashboard">Dashboard</a>
        <a class="navbar-link" href="/profile">Profile</a>
      </div>
      <div class="navbar-mobile-menu" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </nav>
  <script>
    function toggleMenu() {
      const navbarLinks = document.querySelector('.navbar-links');
      navbarLinks.classList.toggle('show');
    }
  </script>